.description {
    display: block;
    width: 400px;
    height: 160px;
}
/*
display: none/block najlepsza opcja

 */
.hidden {
    display: none;
}

div {
    border-top-style: solid;
    border-top-width: thin;
    border-bottom-style: solid;
    border-bottom-width: thin;
}